/* This css file used in both UserCard and UserCardClass components  */

.userCard-container {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: #4a4a4a;
}

.userCard-container h1 {
    font-size: 2rem;
}

.userCard-container h2 {
    font-size: 1.2rem;
}

.userCard-button {
    width: 14rem;
    background-color: #2f2c2c;
    margin-bottom: 1rem;
}